$font-folder: "../fonts/";
@font-face {
  font-family: 'Cooper Black';
  src: url('#{$font-folder}COOPBL.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cooper Std Black';
  src: url('#{$font-folder}Cooper Std Black.ttf');
  font-weight: normal;
  font-style: normal;
}