@import "variables";
@import "../../src/sass/bootstrap4/variables";
//MENU BAR
#main-menu{
  background-color: black;
  position: absolute;
  right: 20px;
  top: 90px;
  height: max-content;
  li{
    a{
      display: inline-table;

    }
  }
}
//-----------------
//TITLE TEXT
#titleword1{
  font-size: 2em;
  /* text-align: unset; */
  vertical-align: middle;
}

#navbarNavDropdown ul{
  li::after{
    content: "|";
    //color: $site-yellow;
  }
  li:last-child::after{
    content: "";
  }
}

img.img-fluid {
  width: 150px;
  position: absolute;
  top: 11px;
  left: 30px;
}
nav.navbar.navbar-expand-md.navbar-dark.bg-primary {
  height: 110px;
}

a#includeslogo {
  padding-left: 150px;
}

.nav-link {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* height: 100%; */
  width: max-content;
}

@media only screen and (max-width: 545px) {
  a#includeslogo {
    display: none;
  }

  img.img-fluid {
    /* margin-left: auto; */
    /* margin-right: auto; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  a.navbar-brand.custom-logo-link {
    width: 100%;
  }

  button.navbar-toggler {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  a.nav-link {
    position: inherit;
    transform: translateY(0%);
    width: 100%;
  }
}

//MENU BAR SMALLER SCREEN
@media (max-width: map_get($grid-breakpoints,lg)){
  #main-menu{
    height: auto;
  }
  #navbarNavDropdown ul li::after{
    content: none;
  }
  a.nav-link {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .navbar-expand-md .navbar-nav {
    flex-flow: wrap;
    max-width: 400px;
  }
}

@media (max-width: map_get($grid-breakpoints,md)){
  .navbar-expand-md .navbar-nav {
    flex-flow: column !important;
    width: max-content !important;
  }
  a.nav-link {
    transform: translateY(0%);
    width: 100%;
  }
}