@import "mixins";
@import "header_styles";
@import "homepage";
// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

/* These are hard-coded styles that ideally shouldn't be hard-coded.
i.e we should be able to change things like colours from withing the WordPress theme customiser
 If we have time we should look into this*/
@import "variables";

body{
  background: $site-offwhite !important;
  color: $site-offwhite;
}

#main-menu {
  box-shadow: 1px 5px 6px 1px black;
}

.wp-block-cover {
  width: 1000px;
  margin-left: -15px;
  margin-right: -15px;
}

.wp-block-separator {
  visibility: hidden;
}

header.entry-header {
  display: none;
}

.wrapper {
  padding: 0px 0;
}

img.img-fluid {
  z-index: 9999999;
}

.entry-content > p, .entry-content > h2 {
  color: $site-dark !important;
}

//Site page
.site{
  //Restrict width to 1000px to create a paged look
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: $site-white;
  @include boxShadow(0px,0px,10px, 0px, $site-dark);
}

.navbar{
  background-color: $site-yellow !important;
  z-index: 9999999;
  a {
    color: $site-dark !important;
    font-family: "Cooper Black", sans-serif;
  }

  a.nav-link{
    color: $site-yellow !important;
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif;
  }
  a.nav-link:hover{
    color: $site-dark !important;
    background-color: $site-yellow !important;
   }
}

img {
  margin-right: -15px;
  margin-left: -15px;
}

img.img-fluid {
  width: 150px;
  -webkit-filter: drop-shadow(0px 10px 10px #000);
  filter: drop-shadow(0px 10px 10px #000);
}

//Search box
.form-control{
  background-color: #3a3a3a;
}

#wrapper-footer{
  background-color: $site-yellow !important;
  height: 10em;

}

#colophon{
  font-size: 12px;
  text-align: center;
  color: black;

}

.site-info{
  padding-top: 20px;
}

.nf-form-wrap.ninja-forms-form-wrap {
  padding-top: 70px;
  color: black;
}

.wp-block-cover.has-background-dim {
  margin-bottom: 0;
}
//---------------------------------------End hard-coded styles-----------------------------------------