@import "mixins";
@import "header_styles";
@import "homepage";
@import "fonts";
// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

/* These are hard-coded styles that ideally shouldn't be hard-coded.
i.e we should be able to change things like colours from withing the WordPress theme customiser
 If we have time we should look into this*/
@import "variables";


body{
  background: $site-offwhite !important;
  color: $site-offwhite;
}

#main-menu {
  box-shadow: 1px 5px 6px 1px black;
}

.wp-block-separator {
  visibility: hidden;
}

header.entry-header {
  display: none;
}

.wrapper {
  padding: 0px 0;
}

img.img-fluid {
  z-index: 9999999;
}

.entry-content > p, .entry-content > h2 {
  color: $site-dark !important;
}

//Site page
.site{
  //Restrict width to 1000px to create a paged look
  max-width: $sitePageWidth;
  margin-left: auto;
  margin-right: auto;
  background-color: $site-white;
  @include boxShadow(0px,0px,10px, 0px, $site-dark);
}

@media only screen and (max-width: $sitePageWidth) {
  .site{
    max-width: inherit;
  }
}

.navbar-brand{
  font-family: $site-title-font;
  color: $site-dark !important;
}

.navbar-dark, .navbar-nav, .nav-link {
  z-index: 9999 !important;
  color: $site-yellow !important;
  background-color: black;
  font-family: $site-navbar-font;
}
.navbar-dark:hover, .navbar-nav:hover, .nav-link:hover {
  color: black !important;
  background-color: $site-yellow;
}

.current-menu-item > a {
  color: black !important;
  background-color: $site-yellow !important;
}


img.img-fluid {
  width: 150px;
  -webkit-filter: drop-shadow(0px 10px 10px #000);
  filter: drop-shadow(0px 10px 10px #000);
}

//Search box
.form-control{
  background-color: #3a3a3a;
}

#wrapper-footer{
  background-color: $site-yellow !important;
  height: 9em;
  overflow: hidden;
}

#colophon{
  font-size: 12px;
  text-align: center;
  color: black;
}

.wp-block-cover p{
  font-family: Georgia, serif;
}

.site-info{
  padding-top: 20px;
}

.nf-form-wrap.ninja-forms-form-wrap {
  padding-top: 70px;
  color: black;
}

.wp-block-cover.has-background-dim {
  margin-bottom: 0;
}

.has-large-font-size > a {
  color: $site-hotpink;
  text-decoration: none;
}

.entry-content {
  color: black;
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
}
#homepage-page-wrapper .entry-content {
  padding-left: 0;
  padding-right: 0;
}

.bg-primary {
  background-color: $site-yellow !important;
}

div#primary {
  padding: 0;
}
//---------------------------------------End hard-coded styles-----------------------------------------