@import "mixins";
@import "header_styles";
// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

/* These are hard-coded styles that ideally shouldn't be hard-coded.
i.e we should be able to change things like colours from withing the WordPress theme customiser
 If we have time we should look into this*/
@import "variables";

body{
  background: $site-offwhite !important;
  color: $site-offwhite;

}

.wp-block-cover {
  width: 1000px;
  margin-left: -15px;
  margin-right: -15px;
}

//Site page
.site{
  //Restrict width to 1000px to create a paged look
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: $site-dark;
  @include boxShadow(0px,0px,10px, 0px, $site-dark);
}

.navbar{
  background-color: $site-brown !important;
  a {
    color: $site-lightbrown !important;
    font-family: "Cooper Black", sans-serif;
  }

  a:hover{
    color: $site-hovertest !important;
    
  }
}

img {
  margin-right: -15px;
  margin-left: -15px;
}




//Search box
.form-control{
  background-color: #3a3a3a;
}

//---------------------------------------End hard-coded styles-----------------------------------------