//$site-yellow: #F0F;
$site-yellow: #f8f506;
$site-palepink:#fec6e1;
$site-red: #e72103;
$site-pink: #fc98c6;
$site-hotpink: #fe50a1;
$site-lightbrown: #8f7113;
$site-brown: #5a4706;
$site-dark: #252420;
$site-offwhite: #ffffcf;
$site-white: #fff;

$site-hovertest: #552233;

$sitePageWidth: 1000px;
$sitePagePadding: 15px;

$site-title-font: "Cooper Std Black", sans-serif;
$site-navbar-font: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif;